@page "/"

<PageTitle>CourseView</PageTitle>

<div style="display: grid; grid-template-rows: 20vh 60vh 20vh; height: 100vh; width: 100%;">
    <div style="grid-row: 2/3; align-items: center; align-content: center">
        <CourseStack></CourseStack>
    </div>
</div>


