@page "/Course"
@using System.Collections;
@using System.Collections.Generic;
@using System.Diagnostics
@using System.Net
@using System.Runtime.CompilerServices
@using Newtonsoft.Json
@using JsonSerializer = System.Text.Json.JsonSerializer

<h3>CourseStack</h3>

@code
{
    public bool ResultsVisible = false;
    
    
}

@if (this.Initialized)
{
    <MudGrid>
        @* <MudSelect T="string" Style="z-index: 1" Variant="Variant.Text" xs="2" OnOpen="() => { this.ResultsVisible = (this.QueryString != null); }" ValueChanged = "()=>{ this.ResultsVisible = true; }"> *@
        @*     @for (int x = 0; x < CourseManager.Terms.Length; x++) *@
        @*     { *@
        @*         <MudSelectItem Value="@(CourseManager.Terms[x].ToLabelString())" OnClick="() => { Console.WriteLine(CourseManager.Terms[x].ToLabelString()); }"/> *@
        @*     } *@
        @* </MudSelect> *@
        <MudTextField @bind-Value="@QueryString" Immediate="true"  xs="8" TextChanged="@Search"></MudTextField>
        <MudButton @onclick="Search" xs="2">Search</MudButton>
        
        @if (ResultsVisible)
        {
            <MudContainer xs="12">
            <div style="height: 80vh; overflow-y:scroll; align-content: center; margin-top: 35px;/*display: flex; flex-direction: row; flex-wrap: wrap*/">

                @* <MudPaper Class="d-flex align-content-center flex-wrap flex-grow-1 gap-4" Style="overflow-y: scroll;" MaxWidth="608px" Height="100vh" Elevation="0"> *@
                <Virtualize Items="@CourseManager.Courses" SpacerElement="div">
                    <ItemContent>
                        <CourseItem Instance=@context Visible="true"></CourseItem>
                        <div style="height: 5px;"></div>
                    </ItemContent>
                    <Placeholder>
                        <Card>
                            <CardTitle Title="Loading..."/>
                            <CardContent>
                                In progress...
                            </CardContent>
                        </Card>
                    </Placeholder>

                </Virtualize>

                @* </MudPaper> *@</div></MudContainer>
    }
    </MudGrid>
    
}
@code {
}  
 

 
 